body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../public/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg);
}

.App {
  width: 500px;
  height: 500px;
  font-family: sans-serif;
  text-align: center;
  margin: 50px auto;
  background-color: rgba(241, 237, 237, 0.7);
}

.h1 {
  padding-top: 30px;
}

.todo-list {
  margin-left: 90px;
  margin-top: 20px;
  width: 321px;
  background-color: #fff;
}

.todo-card {
  position: relative;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  text-align: left;
}

.todo-card:hover .delete-button {
  display: inline;
}

input {
  width: 250px;
  height: 25px;
}

.add {
  width: 70px;
  height: 31px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.clear {
  width: 100px;
  height: 31px;
  background-color: red;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
}

.delete-button {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
